.Button {
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.Button.POSITIVE {
    background-color: rgb(39, 161, 98);
    color: #fff;
}

.Button.NEGATIVE {
    background-color: rgb(195, 36, 60);
    color: #fff;
}