.Button {
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
}

.Button.POSITIVE {
    background-color: rgb(153, 158, 153);
    color:#fff
}
.Button.NEGATIVE {
    background-color: rgb(253, 86, 95);
    color:#fff
}