.DiaryItem {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;

}

.img-section {
    min-width: 120px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section img {
    width: 50%;
}

.img-section.bg-1 {
    background-color: rgb(63, 201, 75);
}

.img-section.bg-2 {
    background-color: rgb(63, 164, 201);
}

.img-section.bg-3 {
    background-color: rgb(79, 63, 201);
}

.img-section.bg-4 {
    background-color: rgb(201, 63, 171);
}

.img-section.bg-5 {
    background-color: rgb(201, 63, 63);
}

.info-section {
    flex: 1;
    cursor: pointer;
}

.info-section .conent{
    font-size: 18px;
}

.info-section .created-date {
    font-size: 25px;
    font-weight: bold;
}

